<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload video</title>
</head>
<body>
    <div>
    {% if message %}
        {{message}}
    {% else %}
</div>
<div>
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}
        <button type="submit">Upload</button>
    </form>
</div>

    {% if download %}
    <div>    
        <p>{{download}}</p>
        <a href="{{video_path}}" download>Download</a>
    </div>
    {% endif %}

{% endif %}
</body>
</html>